<div class="faq-section">
  <h2>سوالات متداول</h2>
  <div class="faq-item">
    <div class="faq-question">🎟️ شرکت در جشن آزادی نرم‌افزار نیاز به پیش‌نیاز خاصی داره؟</div>
    <div class="faq-answer">
اصلاً! مهم نیست دانشجو، دانش‌آموز یا حتی غیرکامپیوتری باشی. این جشن برای همه‌ست و کافیه کنجکاو و علاقه‌مند باشی ✨
    </div>
  </div>
  <div class="faq-item">
    <div class="faq-question">💻 با خودم لپ‌تاپ بیارم؟</div>
    <div class="faq-answer">
 نه نیازی نیست! ولی اگه دوست داری توی هکاتون‌مون یا بعضی از بازی‌ها شرکت کنی بیارش! یا اصلا می‌تونیم بهت کمک کنیم تا روی لپ‌تاپت لینوکس نصب کنی.
    </div>
  </div>
  <div class="faq-item">
     <div class="faq-question">🤝 چطور می‌تونم کمک کنم؟</div>
     <div class="faq-answer">به شکل‌های مختلف اطلاع‌رسانی کنید. از معرفی به دوستان‌تون گرفته تا قرار دادن <a href="/image/poster/sfd-a5.png" target="_balnk">پوسترها</a> در سایت یا وبلاگ‌تون. همینطور برای کمک به تامین هزینه‌ها می‌تونید <a href="https://daramet.com/birlug" target="_balnk">حمایت مالی</a> کنید.</div>  </div>
</div>
