<div class="faq-section">
  <h2>سوالات متداول</h2>
  <div class="faq-item">
    <div class="faq-question">🎟️ شرکت در جشن آزادی نرم‌افزار نیاز به پیش‌نیاز خاصی داره؟</div>
    <div class="faq-answer">اصلا! در هر سنی و با هر پیش‌زمینه‌ای می‌تونید به راحتی شرکت کنید.</div>
  </div>
  <div class="faq-item">
    <div class="faq-question">💻 با خودم لپ‌تاپ بیارم؟</div>
    <div class="faq-answer">نیازی نیست اما می‌تونیم بهتون کمک کنیم تا روی لپ‌تاپ‌تون لینوکس نصب کنید.</div>
  </div>
  <div class="faq-item">
    <div class="faq-question">🤝 چطور می‌تونم کمک کنم؟</div>
    <div class="faq-answer">به شکل‌های مختلف اطلاع‌رسانی کنید. از معرفی به دوستان‌تون گرفته تا قرار دادن <a href="/image/poster/sfd-a5.png" target="_balnk">پوسترها</a> در سایت یا وبلاگ‌تون. همینطور برای کمک به تامین هزینه‌ها می‌تونید <a href="https://daramet.com/birlug" target="_balnk">حمایت مالی</a> کنید.</div>
  </div>
</div>
