<div class="supporters-section">
  <h2>حامیان</h2>
  <div class="supporters-gallery">
      <div class="supporter-item">
        <img src="/image/supporters/ssoce.png" alt="انجمن علمی کامپیوتر دانشگاه بیرجند">
        <div class="supporter-name">انجمن علمی کامپیوتر دانشگاه بیرجند</div>
      </div>
      <div class="supporter-item">
        <img src="/image/supporters/cultural.png" alt="معاونت فرهنگی دانشگاه بیرجند">
        <div class="supporter-name">معاونت فرهنگی دانشگاه بیرجند</div>
      </div>
      <a href="https://gitpush.shop" class="supporter-item">
             <img src="/image/supporters/gitpush-logo.svg" alt="سایت فروشگاهی گیت پوش ">
             <div class="supporter-name">سایت فروشگاهی گیت پوش</div>
      </a>
  </div>
</div>
