<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>نام و نام خانوادگی</th>
        <th>تاریخ پرداخت</th>
        <th>توضیحات</th>
        <th>مبلغ</th>
      </tr>
    </thead>
    <tbody>
      {{ $donations := append site.Data.donations site.Data.donations_static }}
      {{ if $donations }}
        {{ range $i, $d := $donations }}
          <tr>
            <td>{{ add $i 1 }}</td>
            <td>{{ $d.donator_name }}</td>
            <td>{{ $d.date }}</td>
            <td>{{ $d.message }}</td>
            <td>{{ div $d.amount 10 }} تومان</td>
          </tr>
        {{ end }}
      {{ else }}
        <tr class="empty-row">
          <td colspan="5">خالی</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
