<section class="team">
  <h2>{{ site.Data.team.title }}</h2>
  <div class="team-members">
    {{ range site.Data.team.members }}
      {{ if .link }}
        <a href="{{ .link }}" target="_blank" rel="noopener" class="member" style="text-decoration:none; color:inherit;">
          <img src="{{ .image }}" alt="{{ .name }}">
          <h3>{{ .name }}</h3>
        </a>
      {{ else }}
        <div class="member">
          <img src="{{ .image }}" alt="{{ .name }}">
          <h3>{{ .name }}</h3>
        </div>
      {{ end }}
    {{ end }}

    {{ with site.Data.team.join_link }}
    <a href="{{ . }}" target="_blank" class="member join-us">
      <i class="fas fa-user-plus"></i>
      <h3>جای شما اینجا خالیه</h3>
      <p>به تیم اجرایی بپیوندین!</p>
    </a>
    {{ end }}
  </div>
</section>

