<div class="timeline">
<h2>امسال برنامه چیه؟</h2>
<div class="timeline-container">
    {{ range site.Data.timeline }}
        <div class="timeline-item">
            <div class="timeline-date">{{ .persianDatetime }}</div>
            <div class="timeline-content">
                <h3 class="timeline-title">{{ .title }}</h3>
                {{ if .text }}
                    <p class="timeline-text">{{ .text | markdownify }}</p>
                {{ end }}
            </div>
        </div>
    {{ end }}
</div>
</div>
